doctype html
html(lang='en-US')
    head
        meta(charset="utf-8")
        title GilaSoftware Notification Test | Log
        link(href="/styles/styles.css" rel="stylesheet" type="text/css")
    body
        header
            section
                h1 GilaSoftware Test
                nav
                    a(href="/" title="Message Form") send |  
                    a(href="/logs" title="Message Form") logs
        p Message Sent!
