table {
    width: 100%;
}
tbody > tr:nth-child(odd) {
    background-color: #eaeaea;
}
tbody td {
    padding: 5px;
}

user-info {
    display: block;
}

header {
    display: block;
    margin-bottom: 12px;
}
section {
    display: block;
}

.hide {
    display: none;
}
